@import "../../../scss/variables";

.gpt3__possibility {
  display: flex;
  flex-direction: row;

  .gpt3__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .gpt3__possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    h4 {
      color: #71e5ff;
      font-family: map-get($font-family, manrope);
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
    }
    h4:last-child {
      color: #ff8a71;
    }
    h1 {
      font-family: map-get($font-family, manrope);
      font-weight: 800;
      font-size: 34px;
      line-height: 45px;
      margin: 1rem 0;
    }
    p {
      color: map-get($colors, text);
      font-family: map-get($font-family, manrope);
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 2rem;
    }
  }
}

.gradient__text {
  height: 90px;
  width: 426px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@import "./media-queries";