@import "../../../scss/variables";

.gpt3__cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: map-get($gradients, bar);
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0 0 1em rgba(255 255 255 / 0.5);
  padding: 2rem;
  margin: 4rem;
}

.gpt3__cta-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: left;
  p,
  h3 {
    font-family: map-get($font-family, manrope);
    filter: drop-shadow(0.125em 0.125em 0.125em black);
  }
  p {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }
  h3 {
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
  }
}

.gpt3__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  button {
    min-width: 150px;
    background: #000;
    color: #fff;
    font-family: map-get($font-family, manrope);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    border-radius: 2rem;
    border: none;
    outline: none;
    filter: drop-shadow(0.12em 0.12em 0.12em rgba(0 0 0 / 0.5));
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

@import "./media-queries";
